[submodule "core"]
	path = core
	url = git://github.com/mosra/map2x-core.git
[submodule "qt"]
	path = qt
	url = git://github.com/mosra/map2x-qt.git
[submodule "plugins"]
	path = plugins
	url = git://github.com/mosra/map2x-plugins.git
