[submodule "core"]
	path = core
	url = git://github.com/mosra/map2x-core.git
[submodule "qt"]
	path = qt
	url = git://github.com/mosra/map2x-qt.git
[submodule "plugins"]
	path = plugins
	url = git://github.com/mosra/map2x-plugins.git
[submodule "plugins-nonfree"]
	path = plugins-nonfree
	url = git://github.com/mosra/map2x-plugins-nonfree.git
[submodule "sdl"]
	path = sdl
	url = git://github.com/mosra/map2x-sdl.git
[submodule "toolchains"]
	path = toolchains
	url = git://github.com/mosra/toolchains.git
