[submodule "core"]
	path = core
	url = git://github.com/mosra/kompas-core.git
[submodule "qt"]
	path = qt
	url = git://github.com/mosra/kompas-qt.git
[submodule "plugins"]
	path = plugins
	url = git://github.com/mosra/kompas-plugins.git
[submodule "plugins-nonfree"]
	path = plugins-nonfree
	url = git://github.com/mosra/kompas-plugins-nonfree.git
[submodule "sdl"]
	path = sdl
	url = git://github.com/mosra/kompas-sdl.git
[submodule "toolchains"]
	path = toolchains
	url = git://github.com/mosra/toolchains.git
[submodule "artwork"]
	path = artwork
	url = git://github.com/mosra/kompas-artwork.git
